{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'ratings/style.css' %}">

<main>
    <img src="data:image/png;base64,{{image}}" class="center">
</main>

<div>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <!-- {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.rating.errors }}
            <label for="{{ form.rating.id_for_label }}"></label>
            {{ form.rating }}
        </div>
        <div class="fieldWrapper">
            {{ form.source_data_issue.errors }}
            <label for="{{ form.source_data_issue.id_for_label }}">Source Data Issue</label>
            {{ form.source_data_issue }}
        </div> -->
        <button type="submit">Submit Rating</button>
    </form>
</div>
{% endblock %}